.image {
    width:512px;
    height:384px;
    border-style:solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.albums {
    width:400px;
    height:272;
    border-style:solid;
}

h1 {
    font-size:50px;
    text-align:center;
}

#MJ {
    width:425px;
    height:550px; 
    border-style:solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.disco {
    border-style:double;
    position:relative;
    width: 275px;
    height:325px;
}

#h2 {
    text-align:left;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
    list-style: none;
    margin: 0; 
    font-size:30px;
    

}

.table {
    width:50%;
}    
.table, th, td {
    border:1px solid black;
    border-collapse: collapse;
}

.iframe {
    width:1000px;
    height:500px;
}

.form {

    margin:auto;
    padding:10%;
}

.text {
    overflow-wrap:break-word;
    text-align:center;

}

.quote {
    font-family:cursive;
    font-size:30px;

}

body {
    background-color:#f5f1de
}